<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Hab euch lieb.</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<body>
    <button id = 'button'> Press button to hear my voice.</button>
    <div class="audio-container">
        <audio id="myAudio" controls>
            <source src="static/Aufnahme.mp3" type="audio/mp3">
        </audio>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function(){
            const numberOfFlakes = 50;
            const body = document.body;

            for (let i=0; i< numberOfFlakes; i++){
                createSnowflake();
            }

            function createSnowflake() {
                const snowflake = document.createElement('div');
                snowflake.className = 'snowflake';
                snowflake.style.left = `${Math.random()*100}vw`;
                snowflake.style.animationDuration = `${Math.random()*2 +1}s`;
                body.appendChild(snowflake);

                snowflake.addEventListener('animationiteration', () => {
                    snowflake.style.left =`${Math.random()*100}vw`;
                });
            }
        });
        
        document.getElementById('button').addEventListener('click', pressButton);

        function pressButton (){
            var audio = document.getElementById('myAudio');
            audio.play();
        }
    </script>

</body>
</html>