<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Document</title>
</head>
<body>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            const numberOfFlakes = 50;
            const body = document.body;
        
            for (let i=0; i< numberOfFlakes; i++){
                createSnowflake();
            }
        
            function createSnowflake() {
                const snowflake = document.createElement('div');
                snowflake.className = 'snowflake';
                snowflake.style.left = `${Math.random()*100}vw`;
                snowflake.style.animationDuration = `${Math.random()*2 +1}s`;
                body.appendChild(snowflake);
        
                snowflake.addEventListener('animationiteration', () => {
                    snowflake.style.left =`${Math.random()*100}vw`;
                });
            }
        });
    </script>
    
</body>
</html>

body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    width: 10px;
    height: 10px; 
    background-color: #f31f1f;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}
